<!-- <div class="container" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button class="navbar-toggle" data-ng-click="toggleCollapsibleMenu()" type="button">
            <span class="sr-only">
                Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
        </button>
        <a class="navbar-brand" data-ui-sref="home">
            MEAN.JS
        </a>
    </div>
    <nav class="collapse navbar-collapse navbar navbar-default navbar-fixed-top topnav" collapse="!isCollapsed" role="navigation">
        <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
            <li class="{{item.class}}" data-ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" data-ng-if="item.shouldRender(authentication.user);" data-ng-repeat="item in menu.items | orderBy: 'position'" dropdown="item.type === 'dropdown'" ng-switch="item.type">
                <a class="dropdown-toggle" dropdown-toggle="" ng-switch-when="dropdown" role="button">
                    {{::item.title}}
                    <span class="caret">
                    </span>
                </a>
                <ul class="dropdown-menu" ng-switch-when="dropdown">
                    <li data-ng-if="subitem.shouldRender(authentication.user);" data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ui-sref-active="active">
                        <a data-ng-bind="subitem.title" data-ui-sref="{{subitem.state}}">
                        </a>
                    </li>
                </ul>
                <a data-ng-bind="item.title" data-ui-sref="{{item.state}}" ng-switch-default="">
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
            <li data-ui-sref-active="active">
                <a data-ui-sref="authentication.signup">
                    Sign Up
                </a>
            </li>
            <li class="divider-vertical">
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="authentication.signin">
                    Sign In
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
            <li class="dropdown" dropdown="">
                <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle="" role="button">
                    <img alt="{{authentication.user.displayName}}" class="header-profile-image" data-ng-src="{{authentication.user.profileImageURL}}"/>
                    <span data-ng-bind="authentication.user.displayName">
                    </span>
                    <b class="caret">
                    </b>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="settings.profile">
                            Edit Profile
                        </a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="settings.picture">
                            Change Profile Picture
                        </a>
                    </li>
                    <li data-ng-show="authentication.user.provider === 'local'" data-ui-sref-active="active">
                        <a data-ui-sref="settings.password">
                            Change Password
                        </a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="settings.accounts">
                            Manage Social Accounts
                        </a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="/api/auth/signout" target="_self">
                            Signout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div> -->
<!-- Navigation -->
<nav class="collapse navbar-collapse navbar navbar-default navbar-fixed-top topnav" collapse="!isCollapsed" data-ng-controller="HeaderController" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button class="navbar-toggle" data-ng-click="toggleCollapsibleMenu()" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
            <!-- <a class="navbar-brand topnav" href="#">
                Start Bootstrap
            </a> -->
            <a class="navbar-brand topnav" data-ui-sref="home">
            MEAN.JS
        </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
                <li class="{{item.class}}" data-ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" data-ng-if="item.shouldRender(authentication.user);" data-ng-repeat="item in menu.items | orderBy: 'position'" dropdown="item.type === 'dropdown'" ng-switch="item.type">
                    <a class="dropdown-toggle" dropdown-toggle="" ng-switch-when="dropdown" role="button">
                        {{::item.title}}
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu" ng-switch-when="dropdown">
                        <li data-ng-if="subitem.shouldRender(authentication.user);" data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ui-sref-active="active">
                            <a data-ng-bind="subitem.title" data-ui-sref="{{subitem.state}}">
                            </a>
                        </li>
                    </ul>
                    <a data-ng-bind="item.title" data-ui-sref="{{item.state}}" ng-switch-default="">
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
                <li data-ui-sref-active="active">
                    <a data-ui-sref="authentication.signup">
                        Sign Up
                    </a>
                </li>
                <li class="divider-vertical">
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="authentication.signin">
                        Sign In
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
                <li class="dropdown" dropdown="">
                    <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle="" role="button">
                        <img alt="{{authentication.user.displayName}}" class="header-profile-image" data-ng-src="{{authentication.user.profileImageURL}}"/>
                        <span data-ng-bind="authentication.user.displayName">
                        </span>
                        <b class="caret">
                        </b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ui-sref-active="active">
                            <a data-ui-sref="settings.profile">
                                Edit Profile
                            </a>
                        </li>
                        <li data-ui-sref-active="active">
                            <a data-ui-sref="settings.picture">
                                Change Profile Picture
                            </a>
                        </li>
                        <li data-ng-show="authentication.user.provider === 'local'" data-ui-sref-active="active">
                            <a data-ui-sref="settings.password">
                                Change Password
                            </a>
                        </li>
                        <li data-ui-sref-active="active">
                            <a data-ui-sref="settings.accounts">
                                Manage Social Accounts
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="/api/auth/signout" target="_self">
                                Signout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
